/**
 * Site header
 */
.site-header {
  // border-top: 5px solid $grey-color-dark;
  // border-bottom: 1px solid $grey-color-light;
  min-height: $spacing-unit * 1.865;
  background-color: #364A63;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  @include relative-font-size(1.625);
  font-weight: 300;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: $text-white
  }
  &:hover{
    color: $brand-color;
    text-decoration: none;
  }
}

.logo{
  max-width: 100px;
}

.site-nav {
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-white;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
    &:hover{
      color: $brand-color;
      text-decoration: none;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    // border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        fill: $brand-color;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  // border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $text-white;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
  flex: 1;
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}

.introduction {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.title{
  font-weight: 700;
  font-size: 64px;
  line-height: 72px;
  letter-spacing: -.5px;
}
.subtitle{
  font-size: 36px;
    line-height: 52px;
    letter-spacing: -1.6px;
}

.online-dot{
  font-size: 40px;
  line-height: 0px;
  color: $brand-color;
}
.about-box {
  position: relative;
  padding: 24px;
  box-shadow: 10px -10px $brand-color;
  margin-top: 72px;
  margin-right: 48px;
  background-color: white;;
}

.about-box-text{
color: black;
font-weight: 400;
    letter-spacing: 0px;    
    font-size: 18px;
    line-height: 28px;
}

.quote{
  text-align: right;
  margin-top: 80px;
  margin-left: 56px;
  margin-right: 48px
}

.quote-text {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -.1px;
}

.quote-name{
  font-size: 18px;
    line-height: 28px;
    letter-spacing: 0px;
}

@include media-query($on-laptop) {
  .introduction-left{
    max-width: 50%
  }
  
  .introduction-right{
    margin-top: 120px;
    max-width: 50%
  }
}

// @include media-query($on-palm) {
//   .introduction-left{
//     max-width: 50%
//   }
  
//   .introduction-right{
//     margin-top: 120px;
//     max-width: 50%
//   }
// }

@include media-query($on-mobile) {
  .introduction-left{
    max-width: 100%
  }
  
  .introduction-right{
    margin-top: 20px;
    max-width: 100%
  }
}

.centered{
  text-align: center;
}

.btn{
  display: inline-block;
  padding: 16px 20px;
  font-size: 15px;
  line-height: 24px;
  font-family: "Karla",sans-serif;
  font-weight: 700;
  white-space: nowrap;
  background-color: $brand-color;

  &:hover{
    color: $brand-color;
    background-color:white;
  }
}

.media-container {
  position: relative;
    padding-top: 24px;
    margin-top: 72px;
}

.media-1 {
  margin-bottom: -12px;
  margin-left: auto;
  max-width: 76%;
  box-shadow: 10px -10px $brand-color;
  position: relative;
  margin-top: 64px;
}

.media-1 img {
  max-width: 100%;
  vertical-align: bottom;
}

.media-2 {
  max-width: 90%;
  box-shadow: 10px -10px $brand-color;
  position: relative;
  &:hover{
    cursor: pointer;
    box-shadow: 10px -10px $text-color;
  }
}

.media-2 img {
  max-width: 100%;
  vertical-align: bottom;
}

.media-3 {
  margin-left: auto;
  max-width: 90%;
  box-shadow: 10px -10px $brand-color;
  position: relative;
  margin-top: 40px;
  &:hover{
    cursor: pointer;
    box-shadow: 10px -10px $text-color;
  }
  
}

.media-3 img {
  max-width: 100%;
  vertical-align: bottom;
}

.media-4 {
  margin-top: -14px;
  max-width: 76%;
}

.media-4 img {
  max-width: 100%;
  vertical-align: bottom;
  box-shadow: 10px -10px $brand-color;
  transition: all 0.1s;
}

#headerPopup{
  width:75%;
  margin:0 auto;
}

#headerPopup iframe{
  width:100%;
  margin:0 auto;
}