---
layout: default
---

<div class="home">
	{%- if page.title -%}
	<h1 class="page-heading">{{ page.title }}</h1>
	{%- endif -%} {{ content }}

	<!-- {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul> -->

	<!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> -->
	<div class="introduction">
		<div class="introduction-left">
			<h1 class="title">
				Lorem <br />
				Ipsum<br />
				Dolor<br />
				Conference<br /><span class="subtitle">Online<sup class="online-dot">•</sup></span>
			</h1>

			<div class="about-box">
				<p class="about-box-text">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
					et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
					aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
					culpa .
				</p>
			</div>

			<div class="quote">
				<p class="quote-text">
					"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
					et dolore magna aliqua. Ut enim ad minim veniam.”<br />
					<span class="quote-name">2020 Attendee</span>
				</p>
			</div>
		</div>
		<div class="introduction-right">
			<div class="centered">
				<a href="/about" class="btn"> <span>Sign up now</span> </a>

				<div class="media-container">
					<div class="media-1">
						<img src="assets/img/image-1.png" alt="Laptop" />
					</div>
					<div class="media-2" data-video="https://www.youtube-nocookie.com/embed/g8JlfAe3Y14?rel=0"><img src="assets/img/image-2.png" alt="Video" /></div>
					<div class="media-3" data-video="https://www.youtube-nocookie.com/embed/g8JlfAe3Y14?rel=0"><img src="assets/img/image-3.png" alt="Video" /></div>
					<div class="media-4"><img src="assets/img/image-4.png" alt="Meet" /></div>
				</div>
			</div>
		</div>
	</div>

	{%- endif -%}
</div>
